:root{
    /* size margin */
    --top_navbar: 2rem;

    /* color */
    --grey: #919191;
    --darkGrey: #525050;
    --lightGrey: #d9d9d9;
    --font_primary: #1B1C22;
    --highlight: #fff;
    --greyWhite: #f9f9f9;

    /* fonts */
    --mainFont: 'Merriweather Sans', sans-serif;
    --boldFont: 'Merriweather', serif;
    --mainSize: 0.875rem;
    --fonts_hero: 3rem;
    --navSize: 1rem;
}

/* elements */
html, body {
  margin: 0;
  padding: 0;
  color: var(--font_primary);
  font-family: var(--mainFont);
  font-weight: 300;
  font-size: var(--mainSize);
}

h1 {
  font-size: var(--fonts_hero);
  font-family: var(--boldFont);
  line-height: 4rem;
  font-weight: 900;
  color: var(--font_primary);
}

h2 {
  font-family: var(--boldFont);
  font-weight: 700;
}

img {
  display: block;
  width: 100%;
}

/* selectors */
.brand-shade {
  color: #fff;
}


/* navbar */
nav{
    margin-top: var(--top_navbar);
    padding: 1.5rem 3rem 1.5rem 4rem;
}

.navbar-brand {
  font-size: 2.25rem;
  font-family: 'Allura', cursive;
}

.navbar-nav{
    margin-left: auto;
}

.navbar-nav > li{
    margin-left: 2rem;
}

.nav-item{
    font-size: var(--navSize);
    font-weight: 300;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--highlight);
}

.backgroundHero {
    height: 47rem;
    width: 40%;
    z-index: -3;
    background-color: var(--grey);
    right: 0;
    top: 0;
    position: absolute;
}

.backgroundHeroDark {
    height: 47rem;
    width: 44%;
    z-index: -4;
    background-color: var(--darkGrey);
    right: 0;
    top: 0;
    position: absolute;
}

.backgroundHeroCircle{
    width: 50%;
    height: 50rem;
    z-index: -3;
    background-color: var(--grey);
    left: -22%;
    top: -53%;
    border-radius: 100%;
    position: absolute;
}


/* hero */
.textHero{
    margin-top: 8rem;
}
.imageHero{
    margin-top: 4rem;
}

.textHero p{
    color: var(--font_primary);
    font-size: var(--mainSize);
    line-height: 1.5rem;
}


/*services section*/
#service{
  margin-top: 10rem;
  width: 100%;
	background-color: #fff;
  text-align: center;
}
#service .main_content{
	width: 100%;
	height: 20vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#service .main_content h1{
	margin-bottom: 8px;
}
#service .main_content p{
	font-family: var(--mainFont);
  font-size: 1.2rem;
	color: gray;
  margin-top: 0.5rem;
}
#service .cards{
	width: 100%;
	height: auto;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/Services-bg.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}
#service .cards .card{
	width: 250px;
	padding: 30px 12px;
  margin: 6rem 0;
	cursor: pointer;
	transition: all .5s ease;
	background-color: #f1f1f1;
}
#service .cards .card i{
	font-size: 10rem;
}
#service .cards .card:hover{
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	transition: all .5s ease;
}

/* featured section */
.featured {
  padding: 8rem 8rem;
  align-items: center;
}
.underline{
    height: 5px;
    width: 80%;
    background: var(--greyWhite);
    margin: 0 auto;
    border-radius: 15px;
}
.featured-btns button:last-child{
    background: white;
    color: var(--darkGrey);
    margin-left: 10px;
}
.featured-btns button:last-child:hover{
    color: var(--grey);
    border-color: var(--darkGrey);
}
.featured-item > div{
    padding: 4rem;
}
.featured-item .item-price{
    font-weight: 700;
    font-size: 20px;
    font-family: var(--mainFont);
}
.featured-item{
    margin-bottom: 36px;
}
.featured-item:nth-child(even){
    background: var(--greyWhite);
}
.featured-item:last-child{
    margin-bottom: 0;
}
.featured-item-content:nth-child(even){
  text-align: right;
}


/* ---------testimonial section-------- */

#testimonials {
  text-align: center;
}

#testimonials h1 {
  margin-bottom: 4rem;
}

.testimonial-text {
  font-size: 2rem;
  font-family: var(--mainFont);
  line-height: 1.5;
  padding: 3rem;
  color: var(--highlight);
}

.testimonial-img {
  height: 10rem;
  width: 10%;
  border-radius: 100%;
  margin: auto;
}

.carousel-item {
  background-color: var(--grey);
  padding: 2rem;
}

.carousel-bg {
  background-color: var(--darkGrey);
  border-radius: 2rem;
  margin: 3rem;
  padding: 1rem;
  box-shadow: 9px 9px 20px 0 rgba(0,0,0,0.7);
}

/* Newsletter */
.newsletter .container{
    padding: 8rem 4rem 4rem;
}
.newsletter-content{
    background: var(--darkGrey);
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.newsletter .title{
    text-align: center;
}
.form-group{
    margin: 30px 0;
}
.form-control, .subscribe-btn{
    font-size: 18px;
    padding: 7px 10px;
    border: none;
    display: block;
    outline: 0;
}
.form-control{
    color: var(--darkGrey);
    font-weight: 400;
    padding: 16px 28px;
    border-radius: 50px;
    width: 100%;
}
.subscribe-btn{
    background: var(--darkGrey);
    color: #fff;
    border: 1.5px solid var(--greyWhite);
    display: block;
    padding: 10px 28px;
    margin: 22px auto;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.subscribe-btn:hover{
    color: var(--grey);
    border-color: var(--grey);
}
.circle-box{
    border: 4px solid #fff;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
}
.circle-box.circle-1{
    top: -150px;
    left: -150px;
}
.circle-box.circle-2{
    bottom: -150px;
    right: -150px;
}

/* footer */
#footer{
    margin-top: 6rem;
    background-color: var(--lightGrey);
    padding: 4rem 3rem 0;
}
.credit img{
    margin-bottom: 1rem;
}
#footer h6{
    color: var(--font_primary);
    font-weight: 600;
    font-size: var(--fonts_footer);
    margin-bottom: 1rem;
}
#footer a{
    text-decoration: none;
    color: var(--font_primary);
    margin-bottom: -2rem;
}
.contact a{
    margin-right: 0.7rem;
}
.support {
    margin-top: -0.2rem;
}
.about {
    margin-top: -0.2rem;
}
.contact {
    margin-top: -0.2rem;
}
.copyright{
    margin-top: 3rem;
    text-align: center;
}

.social-icons {
  font-size: 2rem;
}

/* mobile version */
@media screen and (max-width: 780px){
  body {
    text-align: center;
  }

  /* home */
  nav {
    padding: 1rem;
  }

  .navbar-nav {
    text-align: right;
  }

  .backgroundHero {
    height: 40rem;
    width: 50%;
  }

  .backgroundHeroDark {
    height: 40rem;
    width: 62%;
  }

  .backgroundHeroCircle {
    width: 50%;
    height: 15rem;
    left: -16%;
    top: -15%;
  }

  .textHero{
      margin-top: 3rem;
  }

  .imageHero{
      margin-top: 3rem;
  }

  /* services */
  #service{
    margin-top: 5rem;
  }

  #service .main_content p{
    font-size: 1rem;
  }

  #service .cards {
    margin-top: 2rem;
  }

  #service .cards .card{
    margin: 3rem 0;
  }

  #service .cards .card:first-child {
    margin: 6rem 0 3rem;
  }

  #service .cards .card:last-child {
    margin: 3rem 0 6rem;
  }

  /* featured */
  .featured {
    padding: 2rem 1rem;
  }

  .featured-item > div {
    padding: 3rem 1rem 1rem;
  }

  .featured-item-content:nth-child(even) {
    text-align: center;
  }

  /* testimonials */
  #testimonials h1 {
    margin-bottom: 4rem;
    font-size: 2.5rem;
  }

  .testimonial-text {
    font-size: 1.25rem;
    padding: 1rem;
  }

  .testimonial-img {
    height: 5rem;
    width: 25%;
    border-radius: 100%;
    margin: auto;
  }

  .carousel-bg {
    margin: 2rem;
  }

  /* Newsletter */
  .newsletter .container {
    padding: 5rem 3rem 1rem;
  }

  /* footer */
  .footer-col {
    margin-bottom: 1.5rem;
  }
}
